@model IEnumerable<ZarzadzanieSerwisem.Models.Kategoria>
@{
    Layout = "~/Views/Shared/_LayoutDok.cshtml";
}




<div class="container">

    <!--Tytuł-->
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
               BazaNapraw            
            </h1>
        </div>
    </div>
    <!--/.row-->
    <!--Kategorie Wyboru-->
    <div class="row">
        <div class="col-lg-12">
            <h3>
                Dokumentacja dostarczona przez firmy zewnętrzne.
                <small>Schematy połączeń, specyfikacje komponentów oraz inne.</small>
            </h3>
        </div>
        <div class="col-md-4">
            <h4>Wybierz Producenta</h4>

            @foreach (var item in Model)
            {

                <p>
                    <a href="@Url.Action("Kategoria", "Dokumentacja", new { id = item.KategoriaId })" class="btn btn-primary">
                        @Html.DisplayFor(modelItem => item.KategoriaTytul)  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </a>
                </p>
            }

        </div>


    </div>
    <!--/.row-->
    <hr />

</div>

