@{
    ViewBag.Title = "Strona Startowa";
}

<div id="sliderContainer">
    <div class="centerContainer">

        <div id="mainSlider">
            <ul>
                <li>
                    <img src="~/img/sliderImg1.png" alt="" class="slideImg fl" />
                    <h1>Baza Napraw v 0.0</h1>
                    <p class="sliderParagraph">Zarządzanie serwisem - Magazyn, Panel Serwisanta Panel Admina, Panel Biuro Obsługi Klienta. Dostoswanie do Potrzeb Klienta.</p>

                    <a class="darkButton fl">Dowiedz się więcej <img src="~/img/darkButtonImg.png" alt="" /></a>
                    <p class="additionalOptions fl">lub <a href="#">zobacz DEMO</a></p>
                </li>

            </ul>
        </div>

    </div>
</div>
<div class="blankSeparator"> </div>
<div id="serviceListContainer">
    <div class="centerContainer">
        <div class="oneThirdCol" id="col1">
            <img src="~/img/service1BW.png" alt="" class="fl" />
            <div class="centerHeadings">
                <h3>Zarządzanie Serwisem </h3>
            </div>
            <p>Aplikacja do zarządzania serwisem online</p>
            <ul>
                <li>Instalacja na firmowej domenie</li>
                <li>Połączenie ze stroną firmową</li>
                <li>Możliwość dostosowania do potrzeb klienta</li>
            </ul>
        </div>
        <div class="oneThirdCol" id="col2">
            <img src="~/img/service2BW.png" alt="" class="fl" />
            <h3>Serwis, Magazyn, Obsługa Klienta</h3>
            <p>Wszystko w jednym miejscu.</p>
            <ul>
                <li>Rejestrowanie przyjętego urządzenia </li>
                <li>Rejestrowanie Naprawy</li>
                <li>Panel pracownika Obsługi Klienta</li>
            </ul>
        </div>
        <div class="oneThirdCol lastCol" id="col3">
            <img src="~/img/service3BW.png" alt="" class="fl" />
            <h3>Specjalny panel dla szefa / kierownika</h3>
            <p>Statystyki pracowników</p>
            <ul>
                <li>Dzienne / Tygodniowe / Miesięczne</li>
                <li>Szczegółowe informacje na temat pracownika</li>
                <li>Statystyki serwisu / magazynu</li>
            </ul>
        </div>
    </div>
</div>
<div class="centerContainer">
    <div class="sepContainer"> </div>
</div>
<div class="centerContainer">
    <div id="leftContainer" class="fl">
        <h3 class="sectionTitle"> <span>Nowości</span></h3>
        <ul id="newsList">
            <li>
                <span>28.06.2016</span>
                <h3><a href="#">Start projektu</a></h3>
                <p>Rozpoczęcie prac nad projektem 'Aplikacja do zarządzania serwisem' - BazaNapraw. </p>
                <a href="#" class="readMoreLink">Czytaj więcej</a>
            </li>
          
        </ul>
    </div>
    <div id="rightContainer" class="fr">
        <h3 class="sectionTitle"><span>Wiedza poparta doświadczeniem</span></h3>
        <p>Aplikacja do zarządzania serwisem - dla serwisu komputerowego, urządzeń rtv, telefonów komórkowych itp. Stworzona przez pracownika (później kierownika) serwisu z wieloletnim doświadczeniem w branży.</p>
        <p>Dostęp do informacji oraz statystyk przez kierownictwo o każdej porze dnia - aplikacja działjąca online na subdomenie strony firmowej.</p>
        <p>Możliwe dostosowanie programu do potrzeb klienta - nowe funkcjonalności, statystyki, wygląd.</p>
       
       
    </div>
</div>
<div class="blankSeparator"> </div>
