@{
    ViewBag.Title = "Strona Startowa";
}

<div class="centerContainer">
    <div id="leftContainer" class="fl">
        <h3 class="sectionTitle"> <span>NOWOŚCI</span></h3>
        <ul id="newsList">
            <li>
                03.08.2016 - Panel Magazyniera, Serwisanta - ukończone. <br/>
                 Rozpoczynam pracę nad funkcjonalnością: Dokumentacja Serwisowa. <br/>
                Technologie, które zamierzam użyć: Bootstrap, JQuery. Wdrożenie testów jednostkowych.
            </li>
            <li>
                <b> 01.06.2016 - Rozpoczęcie prac na projektem.</b><br />
            </li>
        
        </ul>
    </div>
    <div id="rightContainer" class="fr">
        <h3 class="sectionTitle"><span>INFORMACJE</span></h3>
        <p>Aplikacja do zarządzania serwisem - dla serwisu komputerowego, urządzeń rtv, telefonów komórkowych itp.</p>

        <p> Pomysł stworzenia aplikacji internetowej pojawił się gdy opanowałem już podstawy C# oraz MS SQL. Główny cel to zapoznanie się z technologią ASP.NET oraz stworzenie w pełni fukncjonalnej aplikacji do zarządzania serwisem.<br />
        <p>Technologie wykorzystane w projekcie do tej pory: ASP.NET MVC, Entity Framework.</p>
        <p>
            <b>Funkcjonalności stworzone do tej pory:</b><br />
            Magazyn - przyjmowanie zamówień, edytowanie, nadawanie statusu (do naprawy, po naprawie, oczekiwanie na części, itp).<br />
            Serwis - wprowadzanie szczegółów naprawy do systemu.
        </p>
        <p>
            Aktualnie pracuję na funkcjonalnością: 'Dokumentacja Serwisowa'. Użyte technologie: Bootstarap, JQuery, Testy Jednostkowe (TDD).
        </p>
        <p> Kod dostępny na <a href="https://github.com/marcinN90/ZarzadzanieSerwisem">https://github.com/marcinN90/ZarzadzanieSerwisem</a></p>
        <p> Jeśli chcesz się ze mna skontaktować przejdź do zakładki <a href="kontakt">kontakt</a> i wyślij wiadomość.</p>

    </div>
</div>

<div class="blankSeparator"> </div>
<div id="serviceListContainer">
    <div class="centerContainer">
        <div class="oneThirdCol" id="col1">
            <img src="~/img/service1BW.png" alt="" class="fl" />
            <div class="centerHeadings">
                <h3>Zarządzanie Serwisem </h3>
            </div>
            <p>Aplikacja do zarządzania serwisem online</p>
            <ul>
                <li>Instalacja na firmowej domenie</li>
                <li>Połączenie ze stroną firmową</li>
                <li>Możliwość dostosowania do potrzeb klienta</li>
            </ul>
        </div>
        <div class="oneThirdCol" id="col2">
            <img src="~/img/service2BW.png" alt="" class="fl" />
            <h3>Serwis, Magazyn, Obsługa Klienta</h3>
            <p>Wszystko w jednym miejscu.</p>
            <ul>
                <li>Rejestrowanie przyjętego urządzenia </li>
                <li>Rejestrowanie Naprawy</li>
                <li>Panel pracownika Obsługi Klienta</li>
            </ul>
        </div>
        <div class="oneThirdCol lastCol" id="col3">
            <img src="~/img/service3BW.png" alt="" class="fl" />
            <h3>Specjalny panel dla szefa / kierownika</h3>
            <p>Statystyki pracowników</p>
            <ul>
                <li>Dzienne / Tygodniowe / Miesięczne</li>
                <li>Szczegółowe informacje na temat pracownika</li>
                <li>Statystyki serwisu / magazynu</li>
            </ul>
        </div>
    </div>
</div>
<div class="centerContainer">
    <div class="sepContainer"> </div>
</div>
<div class="centerContainer">

</div>
<div class="blankSeparator"> </div>
