@{
    ViewBag.Title = "Strona Startowa";
}

<div id="sliderContainer">
    <div class="centerContainer">

        <div id="mainSlider">
            <ul>
                <li>
                    <img src="~/img/sliderImg1.png" alt="" class="slideImg fl" />
                    <h1>Aplikacja dla Serwisu v 0.0</h1>
                    <p class="sliderParagraph">Zarządzanie serwisem - Magazyn, Panel Serwisanta Panel Admina, Panel Biuro Obsługi Klienta</p>

                    <a class="darkButton fl">Kup Teraz! <img src="~/img/darkButtonImg.png" alt="" /></a>
                    <p class="additionalOptions fl">lub <a href="#">dowiedz się więcej</a></p>
                </li>

            </ul>
        </div>

    </div>
</div>
<div class="blankSeparator"> </div>
<div id="serviceListContainer">
    <div class="centerContainer">
        <div class="oneThirdCol" id="col1">
            <img src="~/img/service1BW.png" alt="" class="fl" />
            <div class="centerHeadings">
                <h3>Pogotowie Komputerowe </h3>
            </div>
            <p>Naprawa, usuwanie wirusów, poprawa wydajności</p>
            <ul>
                <li>Naprawa usterek</li>
                <li>Dojazd do klienta</li>
                <li>Instalacja oprogramowania</li>
            </ul>
        </div>
        <div class="oneThirdCol" id="col2">
            <img src="~/img/service2BW.png" alt="" class="fl" />
            <h3>Szkolenia z zakresu obsługi komputera</h3>
            <p>Przeglądanie internetu, poczta itp.</p>
            <ul>
                <li>Idealne dla osób starszych </li>
                <li>Dojazd do klienta</li>
                <li>Indywidualne podejście</li>
            </ul>
        </div>
        <div class="oneThirdCol lastCol" id="col3">
            <img src="~/img/service3BW.png" alt="" class="fl" />
            <h3>Sieci komputerowe</h3>
            <p>Instalacja, Administracja</p>
            <ul>
                <li>Da firm oraz osób prywatnych</li>
                <li>Opieka nad system informatycznym firmy</li>
                <li>Projektowanie sieci wewnątrz firmy / w domu</li>
            </ul>
        </div>
    </div>
</div>
<div class="centerContainer">
    <div class="sepContainer"> </div>
</div>
<div class="centerContainer">
    <div id="leftContainer" class="fl">
        <h3 class="sectionTitle"> <span>Nowości</span></h3>
        <ul id="newsList">
            <li>
                <span>28.06.2016</span>
                <h3><a href="#">Start projektu</a></h3>
                <p>Rozpoczęcie prac nad projektem 'Aplikacja do zarządzania serwisem'. </p>
                <a href="#" class="readMoreLink">Czytaj więcej</a>
            </li>
          
        </ul>
    </div>
    <div id="rightContainer" class="fr">
        <h3 class="sectionTitle"><span>Rozlicznie</span></h3>
        <p>Wszystkie usługi rozliczane są na podstawie umowy o dzieło bądź umowy zlecenie.</p>
       
       
    </div>
</div>
<div class="blankSeparator"> </div>
