@model ZarzadzanieSerwisem.Models.EmailForm

<div id="breadcrumbsContainer">
    <div class="centerContainer">
    </div>
</div>
<div class="blankSeparator"> </div>
<div class="centerContainer">
    <div class="sidebarContainer fl">
        <div class="sidebarItem">
        </div>
        <div class="sidebarItem">
        </div>
    </div>
    <div id="pageContent" class="fr"><h4>Formularz Kontaktowy</h4>
        <div class="sepContainer"> </div>
        <fieldset>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contactForm" }))
            {
                @Html.ValidationSummary()
                <p class="oneHalfCol">
                    <label for="Imie i Nazwisko">Imię i Nazwisko: @Html.TextBoxFor(x => x.Name) </label>
                </p>
                <p class="oneHalfCol">
                    <label for="Email">Email: @Html.TextBoxFor(x => x.Email) </label>
                </p>
                <div class="cl"> </div>
                    <p>
                        <label for="wiadomosc">Wiadomość:</label>
                        @Html.TextBoxFor(x => x.Message)
                    </p>
                    <div class="blankSeparator"> </div>
                    <input type="submit" value="Wyślij" />
            }
        </fieldset>
    </div>
</div>
<div class="blankSeparator"> </div>
