<div id="breadcrumbsContainer">
    <div class="centerContainer">
        <p>You are here: <a href="index.html">Home</a> &nbsp;/&nbsp; <strong>Services</strong> </p>
    </div>
</div>
<div class="blankSeparator"> </div>
<div class="centerContainer">
    <div class="sidebarContainer fl">
        <div class="sidebarItem">
            <div class="sidebarHeader">
                <h3>What We Offer</h3>
            </div>
            <ul class="arrowList">
                <li class="activeSidebarItem">Overview</li>
                <li><a href="#">Video and Audio</a></li>
                <li><a href="#">Another Great Service</a></li>
                <li><a href="#">E-Commerce Platform</a></li>
                <li class="noBottomBorder"><a href="#">Giant Codex</a></li>
            </ul>
        </div>
    </div>
    <div id="pageContent" class="fr">
        <img src="~/img/servicesPageImg.png" alt="" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat lectus risus. Donec scelerisque turpis non ligula convallis viverra pharetra metus volutpat. Mauris eu mattis metus. Nullam et faucibus dui. In hac habitasse platea dictumst. Praesent ut massa arcu, eget fermentum leo. Quisque enim arcu, pellentesque eget laoreet in, faucibus et lectus. Aenean elementum ligula sed odio posuere quis consectetur lacus dignissim. Nunc leo mi, pulvinar ac posuere sed, luctus ultricies eros. Sed pharetra ligula id nibh euismod mollis.</p>
        <div class="sepContainer"> </div>
        <ul id="servicesList">
            <li>
                <img src="~/img/serviceImg1.png" alt="" class="fl" />
                <h3>Video and Audio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat lectus risus. Donec scelerisque turpis non ligula convallis viverra pharetra metus volutpat. Mauris eu mattis metus. Nullam et faucibus dui. In hac habitasse platea dictumst. Praesent ut massa arcu, eget fermentum leo.</p>
                <p><a href="#" class="readMoreLink">Read more about this service</a></p>
            </li>
            <li>
                <img src="~/img/serviceImg2.png" alt="" class="fl" />
                <h3>Another Great Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat lectus risus. Donec scelerisque turpis non ligula convallis viverra pharetra metus volutpat. Mauris eu mattis metus. Nullam et faucibus dui. In hac habitasse platea dictumst. Praesent ut massa arcu, eget fermentum leo.</p>
                <p><a href="#" class="readMoreLink">Read more about this service</a></p>
            </li>
            <li>
                <img src="~/img/serviceImg3.png" alt="" class="fl" />
                <h3>E-Commerce Platform</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat lectus risus. Donec scelerisque turpis non ligula convallis viverra pharetra metus volutpat. Mauris eu mattis metus. Nullam et faucibus dui. In hac habitasse platea dictumst. Praesent ut massa arcu, eget fermentum leo.</p>
                <p><a href="#" class="readMoreLink">Read more about this service</a></p>
            </li>
        </ul>
    </div>
</div>
<div class="blankSeparator"> </div>
